@charset "UTF-8";
body {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#c07272), color-stop(#8862b7f4), to(#9aa9db));
  background: linear-gradient(90deg, #774f4fbe, #8d7e9f84, #66709297);
  /*グラデーションを定義*/
  background-size: 300% 500%;
  -webkit-animation: bggradient 10s ease infinite;
  animation: bggradient 10s ease infinite;
  font-family: 'Rampart One', cursive;
}

@-webkit-keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 70% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  height: 800px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* フェードイン */
.fuwatAnime {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1.5s;
  -ms-animation-duration:1.5s;
  animation-duration:1.5s;
  -webkit-animation-name: fuwatAnime;
  -ms-animation-name: fuwatAnime;
  animation-name: fuwatAnime;
  visibility: visible !important;
}
@-webkit-keyframes fuwatAnime {
  0% { opacity: 0; -webkit-transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
  0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

header h1 {
  position: relative;
  font-size: 70px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: 1em;
  margin: 100px 0 0 60px;
}

header h1::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 600px;
  background-color: #0097A7;
  position: absolute;
  top: -10px;
  left: -5px;
}

.media {
  display: none;
}

.supplement1 {
  position: absolute;
  margin-top: -30px;
  font-size: 60px;
  letter-spacing: 0.7em;
}

.supplement2 {
  position: absolute;
  margin: 650px 0 0 30px;
  font-size: 60px;
  letter-spacing: 0.7em;
}

header p {
  margin: 0 0 100px 150px;
  color: #dbd7b6;
  position: absolute;
  font-size: 50px;
  letter-spacing: 1.0em;
  height: 50%;
  width: 60%;
  text-align: center;
  -webkit-transform-origin: center 75%;
  transform-origin: center 75%;
  -webkit-animation: rotate1 30s linear infinite;
  animation: rotate1 30s linear infinite;
}

@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.moon {
  height: 500px;
  width: 1000px;
  margin-top: 100px;
  background-image: url(../image/moon.PNG);
  background-size: 500px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.wrapper {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.overlay.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.menu-trigger {
  display: inline-block;
  width: 36px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100;
}

.menu-trigger span {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-trigger.active span {
  background-color: #fff;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
}

.menu-trigger span:nth-of-type(2) {
  top: 12px;
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}

nav {
  font-size: 50px;
  width: 450px;
  height: 100%;
  padding-top: 80px;
  background-color: #104599;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  -webkit-transform: translate(450px);
  transform: translate(450px);
  -webkit-transition: all .5s;
  transition: all .5s;
}

nav.open {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

nav li {
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

nav a:hover {
  color: #32b0f9;
}

nav a:visited {
  color: rgb(248, 236, 11);
}

nav ul {
  list-style: none;
}

/* main */

img {
  vertical-align: top
}

.title {
  font-size: 70px;
  text-align: center;
}

.about ul {
  padding: 0;
  margin:auto;
}

.about p {
  margin: 0;
  font-size: 40px;
  color:rgb(0, 66, 120)
}

.about ul li {
  display: flex;
  align-items: center;
}


.about ul li .fuwat,ul li .txt {
  width: 50%;
  box-sizing: border-box;
}

ul li:nth-child(odd) {
    flex-direction: row-reverse;
}

.strong {
  margin: 30px;
  font-size: 40px;
}

.tiktok {
  text-align: center;
  display: flex;
}




@media screen and (min-width: 1201px) and (max-width: 1400px) {
  header p {
    margin: 0 0 100px 150px;
    font-size: 50px;
    height: 50%;
    width: 60%;
    -webkit-transform-origin: center 92%;
    transform-origin: center 92%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  header p {
    margin-top: 0px;
    margin-left: 130px;
    height: 50%;
    width: 80%;
    -webkit-transform-origin: center 95%;
    transform-origin: center 95%;
  }
  .supplement1 {
    margin-top: -70px;
    font-size: 50px;
    letter-spacing: 0.5em;
  }
  .supplement2 {
    margin: 640px 0 0 160px;
    font-size: 50px;
  }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
  header {
    margin-top: 20px;
  }
  .supplement1 {
    margin-top: 10px;
    font-size: 38px;
    letter-spacing: 0.5em;
  }
  .supplement2 {
    margin: 600px 0 0 160px;
    font-size: 50px;
  }
  header p {
    margin-top: 105px;
    margin-left: 110px;
    font-size: 33px;
    letter-spacing: 0.8em;
    height: 50%;
    width: 70%;
    -webkit-transform-origin: center 65%;
    transform-origin: center 65%;
  }
  .moon {
    width: 100%;
    margin-right: 60px;
    background-size: 350px;
  }
  .about p {
    font-size: 25px;
  }
  .tiktok {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  
  header {
    height: 430px;
  }
  header p {
    margin: 0;
    margin-left: 48px;
    font-size: 20px;
    letter-spacing: 0.8em;
    top: 75px;
    height: 70px;
    width: 250px;
    transform-origin: center 245%;
  }
  .moon {
    width: 100%;
    margin: -100px 30px 0 30px;
    background-size: 230px;
  }

  h1::before {
    height: 300px!important;
  }

  header h1 {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 35px;
  }

  .supplement1 {
    margin: -90px 0 0 50px;
    font-size: 30px;
    letter-spacing: 0.5em;
  }
  .supplement2 {
    margin: 320px 0 0 70px;
    font-size: 35px;
  }

  nav {
    font-size: 50px;
    width: 300px;
    -webkit-transform: translate(300px);
    transform: translate(300px);
    -webkit-transition: all .5s;
    transition: all .5s;
  }

  .about p {
    font-size: 15px;
  }

  .tiktok {
    flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */