@charset "UTF-8";
body {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#c07272), color-stop(#8862b7f4), to(#9aa9db));
  background: linear-gradient(90deg, #d3c1c1be, #9f57f884, #5a80fa97);
  /*グラデーションを定義*/
  background-size: 300% 500%;
  -webkit-animation: bggradient 10s ease infinite;
  animation: bggradient 10s ease infinite;
  font-family: 'Rampart One', cursive;
}

@-webkit-keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 70% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* フェードイン */
.fuwatAnime {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1.5s;
  -ms-animation-duration:1.5s;
  animation-duration:1.5s;
  -webkit-animation-name: fuwatAnime;
  -ms-animation-name: fuwatAnime;
  animation-name: fuwatAnime;
  visibility: visible !important;
}
@-webkit-keyframes fuwatAnime {
  0% { opacity: 0; -webkit-transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
  0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

header {
  height: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


header h1 {
  position: relative;
  font-size: 100px;
  letter-spacing: 1em;
  text-align: center;
  margin: 50px 60px 0 60px;
  border-bottom: solid 3px #ffc778;
}

header h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px skyblue;
  bottom: -3px;
  width: 50%;
}


#example1 {
  position: absolute;
  height: 65%;
  width: 100%;
  margin-top: -33%;
  font-size: 60px;
  color: #dfff0c;
  letter-spacing: 0.8em;
  text-align: center;
  -webkit-transform-origin: center 50%;
  transform-origin: center 70%;
  -webkit-animation: rotate1 50s linear infinite;
  animation: rotate1 50s linear infinite;
}

.supplement2 {
  position: absolute;
  padding-top: 1000px;
  width: 100%;
  text-align: center;
  font-size: 60px;
  letter-spacing: 0.7em;
}

.moon {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 10%;
  background-image: url(../image/moon.PNG);
  background-size: 600px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
}

@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wrapper {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.overlay.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.menu-trigger {
  display: inline-block;
  width: 36px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100;
}

.menu-trigger span {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-trigger.active span {
  background-color: #fff;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
}

.menu-trigger span:nth-of-type(2) {
  top: 12px;
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}

nav {
  font-size: 50px;
  width: 450px;
  height: 100%;
  padding-top: 60px;
  background-color: #98dd7d;
  opacity: 0.8;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  -webkit-transform: translate(450px);
  transform: translate(450px);
  -webkit-transition: all .5s;
  transition: all .5s;
}

nav.open {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

nav li {
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

nav a:hover {
  color: #494d30;
}

nav a:visited {
  color: rgb(39, 38, 43);
}

nav ul {
  list-style: none;
}

/* main */


img {
  vertical-align: top
}

.title {
  font-size: 70px;
  text-align: center;
}

.name {
  padding-left: 50px;
}

.about ul {
  padding: 0;
  margin:auto;
}

.about p {
  margin: 0;
  font-size: 40px;
  color:rgb(55, 68, 64);
  font-weight: bold;
}

.about ul li {
  display: flex;
  align-items: center;
}


.about ul li .fuwat,ul li .txt {
  width: 50%;
  box-sizing: border-box;
}

ul li:nth-child(odd) {
    flex-direction: row-reverse;
}

.strong {
  position: relative;
  margin: 10em 10em;
  padding: 0.5em 1em;
  border: solid 6px #62c1ce;
  border-radius: 5px 5px 0 0;
}
.strong .box-title {
  position: absolute;
  display: inline-block;
  top: -67px;
  left: -3px;
  padding: 0 9px;
  height: 65px;
  line-height: 65px;
  font-size: 57px;
  background: #62c1ce;
  border-radius: 5px 5px 0 0;
}
.strong p {
  margin: 0; 
  padding: 0;
}

.tiktok {
  text-align: center;
  display: flex;
}




@media screen and (min-width: 1201px) and (max-width: 1400px) {
  #example1 {
    margin-top: -43%;
    -webkit-animation: rotate1 0s linear infinite;
    animation: rotate1 0s linear infinite;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  #example1 {
    margin-top: -55%;
    -webkit-animation: rotate1 0s linear infinite;
    animation: rotate1 0s linear infinite;
  }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
  #example1 {
    font-size: 305%;
    margin-top: -45%;
    -webkit-animation: rotate1 0s linear infinite;
    animation: rotate1 0s linear infinite;
  }
  .moon {
    width: 100%;
    margin-right: 60px;
    background-size: 480px;
  }
  .name {
    padding-left: 15px;
  }
  .about p {
    font-size: 25px;
  }
  .tiktok {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  #example1 {
    font-size: 30px;
    margin-top: -210%;
    margin-left: 30px;
    letter-spacing: 0.7em;
    -webkit-animation: rotate1 0s linear infinite;
    animation: rotate1 0s linear infinite;
  }
  .moon {
    width: 100%;
    margin: -200px 30px 0 30px;
    background-size: 300px;
  }

  h1::before {
    height: 300px!important;
  }

  header h1 {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 35px;
  }

  .name {
    padding-left: 5px;
  }

  nav {
    font-size: 50px;
    width: 300px;
    -webkit-transform: translate(300px);
    transform: translate(300px);
    -webkit-transition: all .5s;
    transition: all .5s;
  }

  .about p {
    font-size: 13px;
  }

  .tiktok {
    flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */